/*
Font Credits:
	Determination (Mono/Sans): https://www.behance.net/gallery/31268855/Determination-Better-Undertale-Font
	Monster Friend (Fore/Back): https://www.behance.net/gallery/31378523/Monster-Friend-Undertale-Logo-Font
	MNC: [WARNING: I changed the name of this font because the original was NSFW, and thus not very professional - go to link at own discresion] http://auntiepixelante.com/?p=606
	Mercy: http://maxigamer.deviantart.com/art/MERCY-Font-the-UNDERTALE-font-for-battle-buttons-590779512

	src:url("fonts/x/x.eot?") format("eot"),url("fonts/x/x.woff") format("woff"),url("fonts/x/x.otf") format("opentype");
*/
@font-face {
	font-family:"Determination Mono";
	src:url("fonts/dt mono/DeterminationMonoWeb.eot?") format("eot"),url("fonts/dt mono/DeterminationMonoWeb.woff") format("woff"),url("fonts/dt mono/DeterminationMonoWeb.otf") format("opentype");
}
@font-face {
	font-family:"Determination Sans";
	src:url("fonts/dt sans/DeterminationSansWeb.eot?") format("eot"),url("fonts/dt sans/DeterminationSansWeb.woff") format("woff"),url("fonts/dt sans/DeterminationSansWeb.otf") format("opentype");
}
@font-face {
	font-family:MNC;
	src:url("fonts/mnc/MNC.eot?") format("eot"),url("fonts/mnc/MNC.woff") format("woff"),url("fonts/mnc/MNC.otf") format("opentype");
}
@font-face {
	font-family:"Monster Friend Back";
	src:url("fonts/Logo/back/MonsterFriendBack.eot?") format("eot"),url("fonts/Logo/back/MonsterFriendBack.woff") format("woff"),url("fonts/Logo/back/MonsterFriendBack.otf") format("opentype");
}
@font-face {
	font-family:"Monster Friend Fore";
	src:url("fonts/Logo/fore/MonsterFriendFore.eot?") format("eot"),url("fonts/Logo/fore/MonsterFriendFore.woff") format("woff"),url("fonts/Logo/fore/MonsterFriendFore.otf") format("opentype");
}
@font-face {
	font-family:Mercy;
	src:url("fonts/mercy/MERCY.eot?") format("eot"),url("fonts/mercy/MERCY.woff") format("woff"),url("fonts/mercy/MERCY.otf") format("opentype");
}
@font-face {
	font-family:"Crypt of Tomorrow";
	src:url("fonts/crypt/CryptOfTomorrow.eot?") format("eot"),url("fonts/crypt/CryptOfTomorrow.woff") format("woff"),url("fonts/crypt/CryptOfTomorrow.otf") format("opentype");
}
@font-face {
	font-family:Hachicro;
	src:url("fonts/hachicro/hachicro.eot?") format("eot"),url("fonts/hachicro/hachicro.woff") format("woff"),url("fonts/hachicro/hachicro.otf") format("opentype");
}

.ut-wrapper {
	/* Surround the body of UT text with this class */
	background-color:black;
	color:white;
	font-size:20px;
}
.ut-title-parent {
	/* Put on a wrapper div around the heading element - window resize handling */
	position:relative;
}
.ut-title {
	/* For heading elements */
	/* On element: specify "data-text" and "data-hearts" attributes */
	color:#888;
	font-family:"Monster Friend Back","Monster Friend Fore",Arial,sans-serif;
	font-size:2.35em;
}
.ut-title::before {
	color:#e90111;
	font-family:"Monster Friend Fore","Monster Friend Back",Arial,sans-serif;
	content:attr(data-hearts);
	position:absolute;
	left:0;
	top:0;
}
.ut-title::after {
	color:white;
	font-family:"Monster Friend Fore","Monster Friend Back",Arial,sans-serif;
	content:attr(data-text);
	position:absolute;
	left:0;
	top:0;
}
/* todo game over text */
.ut-title-basic-fore {
	/* For font access */
	font-family:"Monster Friend Fore","Monster Friend Back",Arial,sans-serif;
}
.ut-title-basic-back {
	/* For font access */
	font-family:"Monster Friend Back","Monster Friend Fore",Arial,sans-serif;
}
.ut-stats, .ut-stats-full {
	/* For text that should resemble the UT stat screen during combat (like player name) */
	color:white;
	font-size:0.8em;
}
.ut-stats {
	font-family:MNC,"Crypt of Tomorrow",Broadway,"Arial Black",Arial,sans-serif;
}
.ut-stats-full {
	font-family:"Crypt of Tomorrow",MNC,Broadway,"Arial Black",Arial,sans-serif;
}
.ut-dialogue {
	/* For text that should resemble UT dialogue */
	color:white;
	font-family:"Determination Mono","Determination Sans","8-bit Operator","FixedSys","Terminal Vector","Courier New",monospace;
	font-size:1em;
}
.ut-menu {
	/* For text that should resemble UT menus (like inventory) */
	color:white;
	font-family:"Determination Sans","Determination Mono","8-bit Operator","FixedSys","Terminal Vector",Arial,sans-serif;
	font-size:1em;
}
.ut-damage {
	/* For text that should resemble the damage text */
	color:white;
	font-family:Hachicro,"OCR A Extended","OCR A","Goudy Stout",Impact,Arial,sans-serif;
}
.ut-action {
	/* For text that should resemble the UT combat options */
	color:white;
	font-family:Mercy,"Determination Sans","Determination Mono","8-bit Operator","FixedSys","Terminal Vector",Arial,sans-serif;
}
.ut-button, .ut-button-small {
	/* For buttons that should resemble the UT combat options (FIGHT, ACT, ITEM, MERCY) */
	display:inline-block;
	text-transform:uppercase;
	text-align:right;
	border:0.1em solid;
	border-color:#f68228;
	text-decoration:none;
	padding:0.1em;
	margin-top:initial;
	margin-bottom:0.1em;
}
.ut-button:link, .ut-button:visited, .ut-button:hover, .ut-button:active, .ut-button-small:link, .ut-button-small:visited, .ut-button-small:hover, .ut-button-small:active {
	text-decoration:none;
}
.ut-button:hover, .ut-button:active, .ut-button-small:hover, .ut-button-small:active {
	border-color:#fff434;
}
.ut-button {
	font-size:1.5em;
	content:
}
.ut-button-small {
	font-size:1em;
}

.ut-heading {
	/* For minor heading elements (not the title) */
	font-size:1.5em;
}
.ut-orange, .ut-link, .ut-link:link, .ut-link:visited {
	/* orange: For any orange text, link: for hyperlinks */
	color:#f68228;
}
.ut-yellow, .ut-link:hover, .ut-link:active {
	/* yellow: For any yellow text, link: for hyperlinks */
	color:#fff434;
}
.ut-chara {
	/* Where are the knives. */
	color:red;
}
